{
  "openapi": "3.0.3",
  "info": {
    "title": "Neural4D API",
    "description": "API v1 支持模型发现、异步生成与后处理任务、签名文件访问、格式转换和点数使用记录查询。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.neural4d.com",
      "description": "生产环境"
    }
  ],
  "tags": [
    {
      "name": "模型",
      "description": "查询当前 API 密钥可用的模型及其能力。"
    },
    {
      "name": "图片生成",
      "description": "创建异步图片生成任务。"
    },
    {
      "name": "视频生成",
      "description": "创建异步视频生成任务。"
    },
    {
      "name": "3D 模型",
      "description": "创建并后处理 3D 模型。"
    },
    {
      "name": "任务",
      "description": "通过 ID 轮询任务并移除任务历史记录。"
    },
    {
      "name": "文件",
      "description": "获取带签名的结果 URL，并转换 3D 模型格式。"
    },
    {
      "name": "用量",
      "description": "查询点数消耗记录。"
    }
  ],
  "paths": {
    "/openapi/v1/models": {
      "get": {
        "tags": [
          "模型"
        ],
        "summary": "列出可用模型",
        "description": "返回当前启用的公开模型。请以此响应作为模型 ID、模式和能力的权威来源。提交任务时会校验账户访问权限。",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "可用模型列表",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "openai/gpt-image-2",
                      "object": "model",
                      "modality": "image",
                      "owned_by": "openai",
                      "modes": [
                        "text-to-image",
                        "image-to-image"
                      ],
                      "capabilities": {
                        "supports_text_input": true,
                        "supports_image_input": true,
                        "supports_video_input": false,
                        "max_n": 4,
                        "aspect_ratios": [
                          "1:1",
                          "16:9",
                          "9:16",
                          "4:3",
                          "3:4"
                        ],
                        "resolutions": [
                          "1K",
                          "2K"
                        ]
                      }
                    },
                    {
                      "id": "google/nano-banana-pro",
                      "object": "model",
                      "modality": "image",
                      "owned_by": "google",
                      "modes": [
                        "text-to-image",
                        "image-to-image"
                      ],
                      "capabilities": {
                        "supports_text_input": true,
                        "supports_image_input": true,
                        "supports_video_input": false,
                        "max_n": 4,
                        "aspect_ratios": [
                          "1:1",
                          "16:9",
                          "9:16",
                          "4:3",
                          "3:4"
                        ],
                        "resolutions": [
                          "1K",
                          "2K"
                        ]
                      }
                    },
                    {
                      "id": "bytedance/seedance-2.0",
                      "object": "model",
                      "modality": "video",
                      "owned_by": "bytedance",
                      "modes": [
                        "text-to-video",
                        "first-frame-to-video",
                        "first-last-frame-to-video",
                        "reference-to-video"
                      ],
                      "capabilities": {
                        "supports_text_input": true,
                        "supports_image_input": true,
                        "supports_video_input": false,
                        "max_n": 4,
                        "aspect_ratios": [
                          "16:9",
                          "9:16",
                          "1:1",
                          "4:3",
                          "3:4"
                        ],
                        "resolutions": [
                          "480p",
                          "720p",
                          "1080p"
                        ],
                        "durations_seconds": [
                          4,
                          5,
                          6,
                          7,
                          8,
                          9,
                          10,
                          11,
                          12,
                          13,
                          14,
                          15
                        ]
                      }
                    },
                    {
                      "id": "dreamtech/neural4d-2.5",
                      "object": "model",
                      "modality": "3dmodel",
                      "owned_by": "dreamtech",
                      "modes": [
                        "text-to-3d",
                        "image-to-3d"
                      ],
                      "capabilities": {
                        "supports_text_input": true,
                        "supports_image_input": true,
                        "supports_video_input": false,
                        "max_n": 4,
                        "mesh_qualities": [
                          "standard",
                          "high",
                          "extra_high"
                        ],
                        "output_formats": [
                          "glb",
                          "obj",
                          "fbx",
                          "stl",
                          "usdz",
                          "blend"
                        ],
                        "postprocessing": [
                          "refine",
                          "texture",
                          "pbr",
                          "remesh"
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/images/generations": {
      "post": {
        "tags": [
          "图片生成"
        ],
        "summary": "创建图片生成任务",
        "description": "根据提示词和最多六张可选参考图片创建 1 到 4 个图片生成任务。文生图使用 application/json，参考图生成使用 multipart/form-data。响应包含已排队任务和扣除点数。",
        "operationId": "createImageGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationJsonRequest"
              },
              "example": {
                "model": "openai/gpt-image-2",
                "prompt": "白色摄影棚背景中的陶瓷茶壶",
                "mode": "text-to-image",
                "n": 1,
                "resolution": "1K",
                "aspect_ratio": "1:1",
                "extra_body": {
                  "custom_option": "value"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationMultipartRequest"
              },
              "example": {
                "model": "openai/gpt-image-2",
                "prompt": "Restyle the reference images as a studio product photo",
                "mode": "image-to-image",
                "images": [
                  "(binary)",
                  "(binary)"
                ],
                "n": 2,
                "resolution": "1K",
                "aspect_ratio": "4:3",
                "extra_body": {
                  "custom_option": "value"
                }
              },
              "encoding": {
                "extra_body": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受生成任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "c6f5dc4e-61ac-4694-9a8b-6a95f3ac4457",
                      "object": "task",
                      "type": "image.generation",
                      "status": "queued",
                      "model": "openai/gpt-image-2",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 13
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/videos/generations": {
      "post": {
        "tags": [
          "视频生成"
        ],
        "summary": "创建视频生成任务",
        "description": "每个请求生成的视频都会创建一个任务 ID。省略 mode 时，multipart 图片数量决定文本、首帧、首尾帧或参考图模式。",
        "operationId": "createVideoGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationJsonRequest"
              },
              "example": {
                "model": "bytedance/seedance-2.0",
                "prompt": "镜头缓慢环绕一个陶瓷茶壶",
                "duration_seconds": 5,
                "resolution": "720p",
                "aspect_ratio": "16:9",
                "n": 1,
                "extra_body": {
                  "custom_option": "value"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationMultipartRequest"
              },
              "example": {
                "model": "bytedance/seedance-2.0",
                "prompt": "A slow orbit around the reference subject",
                "mode": "first-frame-to-video",
                "images": [
                  "(binary)"
                ],
                "duration_seconds": 5,
                "resolution": "720p",
                "aspect_ratio": "16:9",
                "n": 1,
                "extra_body": {
                  "custom_option": "value"
                }
              },
              "encoding": {
                "extra_body": {
                  "contentType": "application/json"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受生成任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "c50fe63e-699d-4d61-93f5-2099ab159d6d",
                      "object": "task",
                      "type": "video.generation",
                      "status": "queued",
                      "model": "bytedance/seedance-2.0",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 160
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/3dmodels/generations": {
      "post": {
        "tags": [
          "3D 模型"
        ],
        "summary": "创建 3D 模型生成任务",
        "description": "创建文生 3D 或单图生 3D 任务。文本输入使用 application/json，单张本地图片使用 multipart/form-data。",
        "operationId": "create3DModelGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextTo3DGenerationRequest"
              },
              "example": {
                "mode": "text-to-3d",
                "prompt": "风格化的陶瓷茶壶",
                "with_texture": true,
                "with_pbr": true,
                "mesh_quality": "high",
                "n": 1
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageTo3DGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受生成任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "72e30159-a242-4491-a67c-2ad0cfc9efb6",
                      "object": "task",
                      "type": "3dmodel.generation",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 30
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/3dmodels/refine": {
      "post": {
        "tags": [
          "3D 模型"
        ],
        "summary": "精细化 3D 模型",
        "description": "为已完成的模型 ID 提交精细化流程。该流程会将 standard 或 high 网格升级为 extra_high，并在源上下文可用时重新生成纹理和 PBR。",
        "operationId": "refine3DModel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Refine3DModelRequest"
              },
              "example": {
                "quality": "extra_high",
                "id": "4d0f8188-3fdd-4596-9d31-ceb6eab831655"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受精细化任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "22a3cb70-40af-4d38-8adf-bfd169d5646e",
                      "object": "task",
                      "type": "3dmodel.edit.refine",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/3dmodels/texture": {
      "post": {
        "tags": [
          "3D 模型"
        ],
        "summary": "为 3D 模型生成纹理",
        "description": "使用且仅使用一种输入提交纹理生成任务：提示词或一张本地参考图片。",
        "operationId": "texture3DModel",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Texture3DModelRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受纹理任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "3d397b20-ea20-4c89-b5b5-50656d930af9",
                      "object": "task",
                      "type": "3dmodel.edit.texture",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/3dmodels/pbr": {
      "post": {
        "tags": [
          "3D 模型"
        ],
        "summary": "为 3D 模型生成 PBR 材质",
        "description": "为已完成的模型 ID 提交 PBR 流程。任务结束后返回结果模型 URL。",
        "operationId": "generate3DModelPbr",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pbr3DModelRequest"
              },
              "example": {
                "id": "4d0f8188-3fdd-4596-9d31-ceb6eab831655"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受 PBR 任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "04ff9123-f611-4384-b8a7-5313f521d82d",
                      "object": "task",
                      "type": "3dmodel.edit.pbr",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/files/convert": {
      "post": {
        "tags": [
          "文件"
        ],
        "summary": "转换 3D 模型格式",
        "description": "启动异步 3D 格式转换。任务完成后返回带签名的文件 URL。",
        "operationId": "convertFile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertFileRequest"
              },
              "example": {
                "target_format": "fbx",
                "model_size": 2,
                "id": "4d0f8188-3fdd-4596-9d31-ceb6eab831655"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受转换任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "ad9372c6-6be6-4316-a1c5-31d3b2929bc9",
                      "object": "task",
                      "type": "file.convert",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/usage": {
      "get": {
        "tags": [
          "用量"
        ],
        "summary": "列出点数用量",
        "description": "返回当前已认证用户的点数消耗记录，并支持按时间、模型和任务类型筛选。",
        "operationId": "listUsage",
        "responses": {
          "200": {
            "description": "点数用量记录",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageList"
                },
                "example": {
                  "object": "usage_list",
                  "data": [
                    {
                      "id": "c6f5dc4e-61ac-4694-9a8b-6a95f3ac4457",
                      "model": "openai/gpt-image-2",
                      "type": "image.generation",
                      "credits": 13,
                      "created_at": 1784044800
                    }
                  ],
                  "total_credits": 13,
                  "page": 1,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "起始 Unix 时间戳（秒，包含该时刻）。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "结束 Unix 时间戳（秒，不包含该时刻）。",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "按公开的供应商/模型别名筛选。",
            "schema": {
              "type": "string",
              "enum": [
                "openai/gpt-image-2",
                "google/nano-banana-pro",
                "bytedance/seedance-2.0",
                "dreamtech/neural4d-2.5"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "按公开任务类型筛选。",
            "schema": {
              "$ref": "#/components/schemas/TaskType"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "页码，从 1 开始。"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "每页最多返回的用量记录数量。"
          }
        ]
      }
    },
    "/openapi/v1/3dmodels/remesh": {
      "post": {
        "tags": [
          "3D 模型"
        ],
        "summary": "重网格化 3D 模型",
        "description": "使用请求的目标面数提交重网格流程。",
        "operationId": "remesh3DModel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Remesh3DModelRequest"
              },
              "example": {
                "target_polycount": 100000,
                "id": "4d0f8188-3fdd-4596-9d31-ceb6eab831655"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "已接受重网格任务",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "f1a8c8c8-938a-4f91-b497-76071be434b2",
                      "object": "task",
                      "type": "3dmodel.edit.remesh",
                      "status": "queued",
                      "model": "dreamtech/neural4d-2.5",
                      "created_at": 1784044800
                    }
                  ],
                  "usage": {
                    "credits": 10
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": []
      }
    },
    "/openapi/v1/tasks/{id}": {
      "get": {
        "tags": [
          "任务"
        ],
        "summary": "查询任务",
        "description": "通过任务 ID 返回单个任务，ID 使用 UUID 格式。状态统一为 queued、processing、succeeded 或 failed。请轮询此接口，直到返回终态。",
        "operationId": "getTask",
        "responses": {
          "200": {
            "description": "任务详情",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {
                  "id": "c6f5dc4e-61ac-4694-9a8b-6a95f3ac4457",
                  "object": "task",
                  "type": "image.generation",
                  "status": "succeeded",
                  "model": "openai/gpt-image-2",
                  "created_at": 1784044800,
                  "updated_at": 1784044842,
                  "output": {
                    "images": [
                      {
                        "url": "https://cdn.neural4d.com/results/image.png",
                        "format": "png"
                      }
                    ]
                  },
                  "usage": {
                    "credits": 13
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "生成或后处理请求返回的任务 ID，格式为 UUID。",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "任务"
        ],
        "summary": "移除任务历史记录",
        "description": "从当前已认证账户的历史记录中移除任务及其结果。排队中或运行中的执行保持当前状态。",
        "operationId": "deleteTaskHistory",
        "responses": {
          "204": {
            "description": "任务历史记录已移除",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "生成或后处理请求返回的任务 ID，格式为 UUID。",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/openapi/v1/files/{id}": {
      "get": {
        "tags": [
          "文件"
        ],
        "summary": "获取带签名的文件 URL",
        "description": "返回已完成图片、视频或 3D 模型 ID 对应的临时签名结果 URL。请使用 ID 作为持久标识。",
        "operationId": "getFiles",
        "responses": {
          "200": {
            "description": "文件 URL",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResource"
                },
                "example": {
                  "urls": [
                    {
                      "url": "https://cdn.neural4d.com/results/model.glb",
                      "format": "glb"
                    }
                  ],
                  "thumbnail_urls": [
                    "https://cdn.neural4d.com/results/model.png"
                  ],
                  "expires_at": 1786636800,
                  "id": "4d0f8188-3fdd-4596-9d31-ceb6eab831655"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TaskNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.neural4d.com",
            "description": "生产环境"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "任务或 3D 模型 ID，格式为 UUID。",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "使用 Neural4D 提供的 API 密钥，并通过 Authorization 请求头的 Bearer 方式发送。",
        "x-default": "Bearer ${YOUR_API_KEY}"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "type",
          "code",
          "message",
          "request_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error",
              "authentication_error",
              "permission_error",
              "not_found_error",
              "rate_limit_error",
              "content_policy_violation",
              "api_error"
            ],
            "description": "用于程序处理的高层错误类别。"
          },
          "code": {
            "type": "string",
            "description": "稳定且可供程序读取的错误码。",
            "example": "invalid_prompt"
          },
          "message": {
            "type": "string",
            "example": "prompt 为必填项，且必须是非空字符串",
            "description": "便于阅读的错误说明。"
          },
          "param": {
            "type": "string",
            "nullable": true,
            "example": "prompt",
            "description": "与错误相关的请求字段；错误不针对特定字段时为 null。"
          },
          "request_id": {
            "type": "string",
            "example": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX",
            "description": "用于追踪此错误的请求 ID。"
          },
          "doc_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://api.neural4d.com/docs/errors#invalid_prompt",
            "description": "包含此错误更多信息的可选文档 URL。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiError",
            "description": "结构化错误详情。"
          }
        }
      },
      "TaskUsage": {
        "type": "object",
        "required": [
          "credits"
        ],
        "properties": {
          "credits": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "该任务或请求扣除的点数。",
            "example": 26
          }
        }
      },
      "ImageFile": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "用于下载生成图片的临时签名 URL。"
          },
          "format": {
            "type": "string",
            "nullable": true,
            "example": "png",
            "description": "已知时返回图片文件格式，例如 png。"
          }
        }
      },
      "VideoFile": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "用于下载生成视频的临时签名 URL。"
          },
          "format": {
            "type": "string",
            "nullable": true,
            "example": "mp4",
            "description": "已知时返回视频文件格式，例如 mp4。"
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "可用时返回生成视频的时长，单位为秒。"
          },
          "resolution": {
            "type": "string",
            "nullable": true,
            "example": "720p",
            "description": "可用时返回生成视频的分辨率，例如 720p。"
          }
        }
      },
      "ModelFile": {
        "type": "object",
        "required": [
          "id",
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "用于下载生成 3D 模型的临时签名 URL。"
          },
          "format": {
            "type": "string",
            "nullable": true,
            "example": "glb",
            "description": "已知时返回 3D 模型文件格式，例如 glb。"
          },
          "thumbnail_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "模型预览图片的临时签名 URL 列表。"
          },
          "polycount": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "可用时返回模型的多边形面数。"
          },
          "mesh_type": {
            "type": "string",
            "nullable": true,
            "description": "可用时返回生成流程报告的网格拓扑类型。"
          },
          "has_texture": {
            "type": "boolean",
            "nullable": true,
            "description": "已知时表示模型是否包含纹理数据。"
          },
          "has_pbr": {
            "type": "boolean",
            "nullable": true,
            "description": "已知时表示模型是否包含 PBR 材质数据。"
          },
          "id": {
            "type": "string",
            "description": "UUID 格式的已生成 3D 模型资源 ID。",
            "format": "uuid"
          }
        }
      },
      "FileLink": {
        "type": "object",
        "required": [
          "url",
          "format"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "用于下载文件的临时签名 URL。"
          },
          "format": {
            "type": "string",
            "example": "glb",
            "description": "此 URL 对应的文件格式。"
          }
        }
      },
      "ImageTaskOutput": {
        "type": "object",
        "required": [
          "images"
        ],
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageFile"
            },
            "description": "任务成功后返回的生成图片文件列表。"
          }
        }
      },
      "VideoTaskOutput": {
        "type": "object",
        "required": [
          "videos"
        ],
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoFile"
            },
            "description": "任务成功后返回的生成视频文件列表。"
          }
        }
      },
      "ModelTaskOutput": {
        "type": "object",
        "required": [
          "models"
        ],
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelFile"
            },
            "description": "任务成功后返回的生成 3D 模型文件列表。"
          }
        }
      },
      "FileConversionTaskOutput": {
        "type": "object",
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileLink"
            },
            "description": "任务成功后返回的转换文件列表。"
          }
        }
      },
      "TaskOutput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ImageTaskOutput"
          },
          {
            "$ref": "#/components/schemas/VideoTaskOutput"
          },
          {
            "$ref": "#/components/schemas/ModelTaskOutput"
          },
          {
            "$ref": "#/components/schemas/FileConversionTaskOutput"
          }
        ]
      },
      "Task": {
        "type": "object",
        "required": [
          "id",
          "object",
          "type",
          "status",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID 格式的公开任务 ID。",
            "format": "uuid"
          },
          "object": {
            "type": "string",
            "enum": [
              "task"
            ],
            "description": "对象类型标识，固定为 task。"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskType"
              }
            ],
            "description": "任务执行的操作类型。"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskStatus"
              }
            ],
            "description": "标准化后的任务生命周期状态。"
          },
          "model": {
            "type": "string",
            "nullable": true,
            "description": "GET /openapi/v1/models 返回的公开供应商/模型别名。",
            "enum": [
              "openai/gpt-image-2",
              "google/nano-banana-pro",
              "bytedance/seedance-2.0",
              "dreamtech/neural4d-2.5"
            ]
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix 时间戳（秒）。"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix 时间戳（秒）。"
          },
          "input": {
            "type": "object",
            "additionalProperties": true,
            "description": "标准化后的请求快照，不包含上传的二进制数据。"
          },
          "output": {
            "$ref": "#/components/schemas/TaskOutput",
            "description": "任务结果，在结果可用时返回。"
          },
          "usage": {
            "$ref": "#/components/schemas/TaskUsage",
            "description": "可用时返回此任务扣除的点数。"
          },
          "error": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskError"
              }
            ],
            "description": "任务失败时返回的错误详情。"
          }
        }
      },
      "TaskList": {
        "type": "object",
        "required": [
          "object",
          "data"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "对象类型标识，固定为 list。"
          },
          "data": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Task"
            },
            "description": "本次请求创建的任务列表。"
          },
          "usage": {
            "$ref": "#/components/schemas/TaskUsage",
            "description": "可用时返回本次提交任务扣除的总点数。"
          }
        }
      },
      "ModelCapabilities": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "supports_text_input": {
            "type": "boolean",
            "description": "模型是否接受文本输入。"
          },
          "supports_image_input": {
            "type": "boolean",
            "description": "模型是否接受图片输入。"
          },
          "supports_video_input": {
            "type": "boolean",
            "description": "公开 API 是否允许该模型接收视频输入。"
          },
          "max_n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "单次请求允许生成的最大输出数量。"
          },
          "aspect_ratios": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "1:1",
                "16:9",
                "9:16",
                "4:3",
                "3:4"
              ]
            },
            "description": "支持的输出宽高比。"
          },
          "resolutions": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "1K",
                "2K",
                "480p",
                "720p",
                "1080p"
              ]
            },
            "description": "支持的输出分辨率。"
          },
          "durations_seconds": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "integer",
              "enum": [
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "description": "支持的视频时长完整列表，单位为秒。"
          },
          "mesh_qualities": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "standard",
                "high",
                "extra_high"
              ]
            },
            "description": "支持的 3D 网格质量等级。"
          },
          "output_formats": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "glb",
                "obj",
                "fbx",
                "stl",
                "usdz",
                "blend"
              ]
            },
            "description": "支持下载的输出格式。"
          },
          "postprocessing": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "refine",
                "texture",
                "pbr",
                "remesh"
              ]
            },
            "description": "支持的 3D 后处理操作。"
          }
        }
      },
      "Model": {
        "type": "object",
        "required": [
          "id",
          "object",
          "modality",
          "owned_by",
          "modes",
          "capabilities"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "model"
            ],
            "description": "对象类型标识，固定为 model。"
          },
          "modality": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "3dmodel"
            ],
            "description": "模型生成的主要输出类型。"
          },
          "owned_by": {
            "type": "string",
            "description": "拥有该模型的供应商或组织。",
            "enum": [
              "openai",
              "google",
              "bytedance",
              "dreamtech"
            ]
          },
          "modes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text-to-image",
                "image-to-image",
                "text-to-video",
                "first-frame-to-video",
                "first-last-frame-to-video",
                "reference-to-video",
                "text-to-3d",
                "image-to-3d"
              ]
            },
            "description": "该模型支持的生成模式。"
          },
          "capabilities": {
            "$ref": "#/components/schemas/ModelCapabilities",
            "description": "该模型支持的限制和选项。"
          },
          "id": {
            "type": "string",
            "example": "openai/gpt-image-2",
            "description": "生成请求中使用的公开模型标识。",
            "enum": [
              "openai/gpt-image-2",
              "google/nano-banana-pro",
              "bytedance/seedance-2.0",
              "dreamtech/neural4d-2.5"
            ]
          }
        }
      },
      "ModelList": {
        "type": "object",
        "required": [
          "object",
          "data"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "对象类型标识，固定为 list。"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            },
            "description": "当前已认证账户可用的模型列表。"
          }
        }
      },
      "ImageGenerationJsonRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "使用 GET /openapi/v1/models 返回的图片模型。",
            "example": "openai/gpt-image-2",
            "enum": [
              "openai/gpt-image-2",
              "google/nano-banana-pro"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "描述待生成图片内容的文本提示词。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "text-to-image"
            ],
            "default": "text-to-image",
            "description": "图片生成模式。JSON 请求支持 text-to-image。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要创建的图片生成任务数量。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1K",
              "2K"
            ],
            "default": "1K",
            "description": "目标图片分辨率。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "1:1",
              "16:9",
              "9:16",
              "4:3",
              "3:4"
            ],
            "default": "1:1",
            "description": "目标图片宽高比。"
          },
          "extra_body": {
            "type": "object",
            "additionalProperties": true,
            "description": "随生成请求透传的其他供应商参数。"
          }
        }
      },
      "ImageGenerationMultipartRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "openai/gpt-image-2",
            "description": "GET /openapi/v1/models 返回的图片模型标识。",
            "enum": [
              "openai/gpt-image-2",
              "google/nano-banana-pro"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "描述待生成或编辑图片内容的文本提示词。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "text-to-image",
              "image-to-image"
            ],
            "description": "生成模式。上传图片时使用 image-to-image；图片列表为空时使用 text-to-image。"
          },
          "images": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "通过 multipart/form-data 上传的本地参考图片，最多六张。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要创建的图片生成任务数量。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "1K",
              "2K"
            ],
            "default": "1K",
            "description": "目标图片分辨率。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "1:1",
              "16:9",
              "9:16",
              "4:3",
              "3:4"
            ],
            "default": "1:1",
            "description": "目标图片宽高比。"
          },
          "extra_body": {
            "type": "object",
            "additionalProperties": true,
            "description": "随生成请求透传的其他供应商参数。"
          }
        }
      },
      "VideoGenerationJsonRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "使用 GET /openapi/v1/models 返回的视频模型。",
            "example": "bytedance/seedance-2.0",
            "enum": [
              "bytedance/seedance-2.0"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "描述待生成视频内容的文本提示词。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "text-to-video"
            ],
            "default": "text-to-video",
            "description": "视频生成模式。JSON 请求支持 text-to-video。"
          },
          "duration_seconds": {
            "type": "integer",
            "minimum": 4,
            "maximum": 15,
            "default": 5,
            "description": "目标视频时长，单位为秒。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p",
            "description": "目标视频分辨率。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4"
            ],
            "default": "16:9",
            "description": "目标视频宽高比。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要生成的视频数量。"
          },
          "extra_body": {
            "type": "object",
            "additionalProperties": true,
            "description": "随生成请求透传的其他供应商参数。"
          }
        }
      },
      "VideoGenerationMultipartRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "bytedance/seedance-2.0",
            "description": "GET /openapi/v1/models 返回的视频模型标识。",
            "enum": [
              "bytedance/seedance-2.0"
            ]
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "描述待生成视频内容的文本提示词。"
          },
          "mode": {
            "type": "string",
            "enum": [
              "text-to-video",
              "first-frame-to-video",
              "first-last-frame-to-video",
              "reference-to-video"
            ],
            "description": "省略时根据图片数量推断模式：0 张为文本生成，1 张为首帧，2 张为首尾帧，3 到 6 张为参考图。"
          },
          "images": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "最多六张本地图片，按首帧、尾帧或参考图顺序上传。"
          },
          "duration_seconds": {
            "type": "integer",
            "minimum": 4,
            "maximum": 15,
            "default": 5,
            "description": "目标视频时长，单位为秒。"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p",
            "description": "目标视频分辨率。"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4"
            ],
            "default": "16:9",
            "description": "目标视频宽高比。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要生成的视频数量。"
          },
          "extra_body": {
            "type": "object",
            "additionalProperties": true,
            "description": "随生成请求透传的其他供应商参数。"
          }
        }
      },
      "TextTo3DGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "GET /openapi/v1/models 返回的可选 3D 模型别名。省略时使用账户默认模型。",
            "example": "dreamtech/neural4d-2.5",
            "enum": [
              "dreamtech/neural4d-2.5"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "text-to-3d"
            ],
            "default": "text-to-3d",
            "description": "3D 生成模式。文本请求使用 text-to-3d。"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "description": "描述待生成 3D 模型的文本提示词。"
          },
          "with_texture": {
            "type": "boolean",
            "default": true,
            "description": "是否为模型生成纹理数据。"
          },
          "with_pbr": {
            "type": "boolean",
            "default": true,
            "description": "要求 with_texture=true。"
          },
          "mesh_quality": {
            "type": "string",
            "enum": [
              "standard",
              "high",
              "extra_high"
            ],
            "default": "high",
            "description": "目标网格质量等级。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要生成的 3D 模型数量。"
          }
        }
      },
      "ImageTo3DGenerationRequest": {
        "type": "object",
        "required": [
          "mode",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "dreamtech/neural4d-2.5",
            "description": "GET /openapi/v1/models 返回的可选 3D 模型标识。",
            "enum": [
              "dreamtech/neural4d-2.5"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "image-to-3d"
            ],
            "description": "3D 生成模式。图片请求使用 image-to-3d。"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "通过 multipart/form-data 上传的一张本地 JPG、JPEG、PNG 或 WEBP 图片。"
          },
          "prompt": {
            "type": "string",
            "maxLength": 500,
            "description": "可选的语义或风格说明。"
          },
          "with_texture": {
            "type": "boolean",
            "default": true,
            "description": "是否为模型生成纹理数据。"
          },
          "with_pbr": {
            "type": "boolean",
            "default": true,
            "description": "要求 with_texture=true。"
          },
          "mesh_quality": {
            "type": "string",
            "enum": [
              "standard",
              "high",
              "extra_high"
            ],
            "default": "high",
            "description": "目标网格质量等级。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "需要生成的 3D 模型数量。"
          }
        }
      },
      "Refine3DModelRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "quality": {
            "type": "string",
            "enum": [
              "extra_high"
            ],
            "default": "extra_high",
            "description": "当前精细化流程会将 standard 或 high 网格升级为 extra_high。"
          },
          "id": {
            "type": "string",
            "description": "已完成 3D 模型的 ID，格式为 UUID。",
            "format": "uuid"
          }
        }
      },
      "Texture3DModelRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "描述待生成纹理的文本提示词。"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "一张本地纹理参考图片。"
          },
          "id": {
            "type": "string",
            "description": "已完成 3D 模型的 ID，格式为 UUID。",
            "format": "uuid"
          }
        },
        "oneOf": [
          {
            "required": [
              "prompt"
            ]
          },
          {
            "required": [
              "image"
            ]
          }
        ]
      },
      "Pbr3DModelRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "已完成 3D 模型的 ID，格式为 UUID。",
            "format": "uuid"
          }
        }
      },
      "ConvertFileRequest": {
        "type": "object",
        "required": [
          "id",
          "target_format"
        ],
        "properties": {
          "target_format": {
            "type": "string",
            "enum": [
              "glb",
              "obj",
              "fbx",
              "stl",
              "usdz",
              "blend"
            ],
            "description": "转换后模型的目标文件格式。"
          },
          "model_size": {
            "type": "number",
            "exclusiveMinimum": true,
            "minimum": 0,
            "default": 2,
            "description": "模型尺寸，单位为毫米。"
          },
          "id": {
            "type": "string",
            "description": "已完成 3D 模型的 ID，格式为 UUID。",
            "format": "uuid"
          }
        }
      },
      "FileResource": {
        "type": "object",
        "required": [
          "id",
          "urls"
        ],
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileLink"
            },
            "description": "可用结果文件的临时签名下载 URL 列表。"
          },
          "thumbnail_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "可用预览图片的临时签名 URL 列表。"
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "签名 URL 到期时的 Unix 时间戳（秒）。"
          },
          "id": {
            "type": "string",
            "description": "与这些文件关联的任务或模型 ID，格式为 UUID。",
            "format": "uuid"
          }
        }
      },
      "UsageRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "credits",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "description": "关联任务的 ID，格式为 UUID。",
            "format": "uuid"
          },
          "model": {
            "type": "string",
            "nullable": true,
            "description": "可从用量记录解析时返回公开模型标识。",
            "enum": [
              "openai/gpt-image-2",
              "google/nano-banana-pro",
              "bytedance/seedance-2.0",
              "dreamtech/neural4d-2.5"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TaskType"
              }
            ],
            "description": "公开任务类型。"
          },
          "credits": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "此条用量记录扣除的点数。"
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix 时间戳（秒）。"
          }
        }
      },
      "UsageList": {
        "type": "object",
        "required": [
          "object",
          "data",
          "total_credits",
          "page",
          "has_more"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "usage_list"
            ],
            "description": "对象类型标识，固定为 usage_list。"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            },
            "description": "当前页的用量记录。"
          },
          "total_credits": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "筛选结果集合对应的总点数。"
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "description": "当前页码，从 1 开始。"
          },
          "has_more": {
            "type": "boolean",
            "description": "是否还有下一页用量记录。"
          }
        }
      },
      "TaskType": {
        "type": "string",
        "enum": [
          "image.generation",
          "video.generation",
          "3dmodel.generation",
          "3dmodel.edit.refine",
          "3dmodel.edit.texture",
          "3dmodel.edit.pbr",
          "3dmodel.edit.remesh",
          "file.convert"
        ],
        "description": "异步任务对应的稳定操作类型。"
      },
      "TaskStatus": {
        "type": "string",
        "enum": [
          "queued",
          "processing",
          "succeeded",
          "failed"
        ],
        "description": "异步任务的标准化生命周期状态。"
      },
      "TaskError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "description": "异步处理记录的失败详情。",
        "properties": {
          "code": {
            "type": "string",
            "description": "稳定且可供程序读取的任务失败代码。"
          },
          "message": {
            "type": "string",
            "description": "便于阅读的任务失败说明。"
          },
          "failed_at": {
            "type": "integer",
            "format": "int64",
            "description": "任务失败时的 Unix 时间戳（秒）。"
          },
          "retryable": {
            "type": "boolean",
            "description": "重试相同操作是否可能成功。"
          }
        }
      },
      "Remesh3DModelRequest": {
        "type": "object",
        "required": [
          "id",
          "target_polycount"
        ],
        "properties": {
          "target_polycount": {
            "type": "integer",
            "minimum": 1,
            "description": "传递给重网格流程的目标面数。"
          },
          "id": {
            "type": "string",
            "description": "已完成 3D 模型的 ID，格式为 UUID。",
            "format": "uuid"
          }
        }
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "description": "当前时间窗口的请求上限。",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "XRateLimitRemaining": {
        "description": "当前时间窗口内的剩余请求次数。",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "XRateLimitReset": {
        "description": "当前时间窗口重置时的 Unix 时间戳（秒）。",
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "RetryAfter": {
        "description": "重试前需要等待的秒数。",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求无效",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "invalid_prompt",
                "message": "prompt is required and must be a non-empty string",
                "param": "prompt",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "认证失败",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "authentication_error",
                "code": "invalid_api_key",
                "message": "The API key is invalid or expired",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "当前已认证用户无权访问该模型或资源",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "permission_error",
                "code": "model_not_authorized",
                "message": "The requested model is not available to this API key",
                "param": "model",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "未找到请求的资源",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "not_found_error",
                "code": "task_not_found",
                "message": "The requested task does not exist",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "已超过请求或配额限制",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "rate_limit_error",
                "code": "rate_limit_exceeded",
                "message": "Too many requests. Retry after the indicated interval.",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "内部或上游服务错误",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "api_error",
                "code": "internal_error",
                "message": "An internal error occurred",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      },
      "TaskNotReady": {
        "description": "所请求的任务尚未生成文件",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "task_not_ready",
                "message": "The requested task has not produced downloadable files yet.",
                "request_id": "req_01J2R6Y7F6Q8K9P0M1N2B3V4CX"
              }
            }
          }
        }
      }
    }
  }
}
