{
  "openapi": "3.0.3",
  "info": {
    "title": "Neural4D \u65e7\u7248\u7ba1\u7406\u63a5\u53e3",
    "description": "Neural4D \u65e7\u7248\u7ba1\u7406\u63a5\u53e3\u89c4\u8303\uff0c\u4e2d\u6587\u754c\u9762\u4e0b\u4f7f\u7528\u672c\u89c4\u8303\u5c55\u793a\u4e2d\u6587\u63a5\u53e3\u8bf4\u660e\u3002",
    "version": "1.4.0"
  },
  "servers": [
    {
      "url": "https://alb.neural4d.com:3000",
      "description": "\u65e7\u7248\u751f\u4ea7\u73af\u5883"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "text-to-3d",
      "description": "\u7528\u4e8e\u901a\u8fc7\u6587\u672c\u751f\u6210 3D \u6a21\u578b\u7684\u63a5\u53e3\u3002",
      "x-group": "\u6587\u672c\u751f\u6210 3D"
    },
    {
      "name": "image-to-3d",
      "description": "\u7528\u4e8e\u901a\u8fc7\u56fe\u7247\u751f\u6210 3D \u6a21\u578b\u7684\u63a5\u53e3\u3002",
      "x-group": "\u56fe\u7247\u751f\u6210 3D"
    },
    {
      "name": "model-management",
      "description": "\u7528\u4e8e\u67e5\u8be2\u6a21\u578b\u3001\u8ddf\u8e2a\u4efb\u52a1\u548c\u8f6c\u6362\u683c\u5f0f\u7684\u63a5\u53e3\u3002",
      "x-group": "\u6a21\u578b\u7ba1\u7406"
    },
    {
      "name": "media-generation",
      "description": "\u7528\u4e8e\u751f\u6210\u56fe\u7247\u3001\u89c6\u9891\u4ee5\u53ca\u67e5\u8be2\u7ed3\u679c\u7684\u63a5\u53e3\u3002",
      "x-group": "\u56fe\u7247\u4e0e\u89c6\u9891\u751f\u6210"
    },
    {
      "name": "account-and-validation",
      "description": "\u7528\u4e8e\u6821\u9a8c\u8f93\u5165\u56fe\u7247\u548c\u67e5\u8be2\u70b9\u6570\u4f59\u989d\u7684\u63a5\u53e3\u3002",
      "x-group": "\u8d26\u6237\u4e0e\u6821\u9a8c"
    }
  ],
  "paths": {
    "/api/generateModelWithText": {
      "post": {
        "tags": [
          "text-to-3d"
        ],
        "summary": "\u6587\u672c\u751f\u6210\u6a21\u578b",
        "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210 3D \u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 60 \u70b9\u6570\u3002",
        "operationId": "generateModelWithText",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateModelWithTextRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "people",
                    "modelCount": 1,
                    "disablePbr": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5df2\u63a5\u53d7\u751f\u6210\u4efb\u52a1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateModelWithTextResponse"
                },
                "examples": {
                  "generating": {
                    "value": {
                      "type": "sys",
                      "message": "Generating",
                      "uuids": [
                        "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                        "c9bf9e57-1685-4c89-bafb-ff5af830be8a",
                        "e7b8c5b2-fd0d-4d28-bf8a-a6a1b2c1f9c8",
                        "a6edc906-2d9b-4cc3-bb7b-5b5a7e5c9f0a"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/text-to-3d/generate-model-from-text",
          "metadata": {
            "title": "\u6587\u672c\u751f\u6210\u6a21\u578b",
            "sidebarTitle": "\u6587\u672c\u751f\u6210\u6a21\u578b",
            "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210 3D \u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 60 \u70b9\u6570\u3002"
          }
        }
      }
    },
    "/api/retrieveModel": {
      "post": {
        "tags": [
          "model-management"
        ],
        "summary": "\u67e5\u8be2\u6a21\u578b",
        "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u5df2\u751f\u6210\u7684\u6a21\u578b\u3002",
        "operationId": "retrieveModel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UuidRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "uuid": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u6a21\u578b\u67e5\u8be2\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveModelResponse"
                },
                "examples": {
                  "completed": {
                    "value": {
                      "codeStatus": 0,
                      "message": "Generate model success",
                      "modelUrl": "https://cos.zmkj.com/afsafr24.glb?AWSAccessKeyId=AKIDodI2mK61Xsfasfsfsa",
                      "imageUrl": "https://cos.zmkj.com/afsafr24.jpg?AWSAccessKeyId=AKIDodI2mK61Xsfasfsfsa",
                      "prompts": "a cute bird",
                      "createdAt": "2024-11-07T05:59:40.000Z",
                      "sourcePage": "createModel"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/model-management/retrieve-model",
          "metadata": {
            "title": "\u67e5\u8be2\u6a21\u578b",
            "sidebarTitle": "\u67e5\u8be2\u6a21\u578b",
            "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u5df2\u751f\u6210\u7684\u6a21\u578b\u3002"
          }
        }
      }
    },
    "/api/generateModelWithImage": {
      "post": {
        "tags": [
          "image-to-3d"
        ],
        "summary": "\u56fe\u7247\u751f\u6210\u6a21\u578b",
        "description": "\u901a\u8fc7\u4e0a\u4f20\u56fe\u7247\u751f\u6210 3D \u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 80 \u70b9\u6570\u3002",
        "operationId": "generateModelWithImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GenerateModelWithImageRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "disablePbr": 1,
                    "modelCount": 1,
                    "image": "(binary)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5df2\u63a5\u53d7\u751f\u6210\u4efb\u52a1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateModelWithImageResponse"
                },
                "examples": {
                  "generating": {
                    "value": {
                      "type": "sys",
                      "message": "Generating",
                      "uuids": [
                        "aaaa-aaaa-aaaa-aaaaaaaa"
                      ],
                      "uploadedImageUrl": "https://s3.neural4d.com/example.png?sign=xxx.png"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/image-to-3d/generate-model-with-image",
          "metadata": {
            "title": "\u56fe\u7247\u751f\u6210\u6a21\u578b",
            "sidebarTitle": "\u56fe\u7247\u751f\u6210\u6a21\u578b",
            "description": "\u901a\u8fc7\u4e0a\u4f20\u56fe\u7247\u751f\u6210 3D \u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 80 \u70b9\u6570\u3002"
          }
        }
      }
    },
    "/api/createCuteModelsFromImages": {
      "post": {
        "tags": [
          "image-to-3d"
        ],
        "summary": "\u56fe\u7247\u751f\u6210 Q \u7248\u6a21\u578b",
        "description": "\u901a\u8fc7\u4e0a\u4f20\u56fe\u7247\u548c\u9884\u914d\u7f6e\u7684\u98ce\u683c\u6807\u7b7e\u751f\u6210 Q \u7248 3D \u89d2\u8272\u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 30 \u70b9\u6570\u3002\u4f7f\u7528\u524d\u9700\u8981\u5148\u5b8c\u6210\u98ce\u683c\u6807\u7b7e\u914d\u7f6e\u3002",
        "operationId": "createCuteModelsFromImages",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateCuteModelsFromImagesRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "images": [
                      "(binary)"
                    ],
                    "styleType": "Pixel-Style"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u6279\u91cf\u521b\u5efa\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCuteModelsFromImagesResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "success": true,
                      "totalFiles": 1,
                      "successCount": 1,
                      "failureCount": 0,
                      "results": [
                        {
                          "uuids": [
                            "31f15c88-48ae"
                          ],
                          "success": true,
                          "message": "Task created and model generation started, please retrieve model after a moment"
                        }
                      ],
                      "failures": [],
                      "message": "Processed 1 files: 1 succeeded, 0 failed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/image-to-3d/generate-chibi-style-model-with-image",
          "metadata": {
            "title": "\u56fe\u7247\u751f\u6210 Q \u7248\u6a21\u578b",
            "sidebarTitle": "\u56fe\u7247\u751f\u6210 Q \u7248\u6a21\u578b",
            "description": "\u901a\u8fc7\u4e0a\u4f20\u56fe\u7247\u548c\u9884\u914d\u7f6e\u7684\u98ce\u683c\u6807\u7b7e\u751f\u6210 Q \u7248 3D \u89d2\u8272\u6a21\u578b\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 30 \u70b9\u6570\u3002\u4f7f\u7528\u524d\u9700\u8981\u5148\u5b8c\u6210\u98ce\u683c\u6807\u7b7e\u914d\u7f6e\u3002"
          }
        }
      }
    },
    "/api/createNormalPicture": {
      "post": {
        "tags": [
          "media-generation"
        ],
        "summary": "\u751f\u6210\u56fe\u7247",
        "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210\u56fe\u7247\uff0c\u5e76\u53ef\u9009\u4e0a\u4f20\u53c2\u8003\u56fe\u3002\u5355\u6b21\u8bf7\u6c42\u6700\u591a\u53ef\u4e0a\u4f20 6 \u5f20\u53c2\u8003\u56fe\uff0c\u5e76\u63d0\u4ea4 1 \u5230 4 \u4e2a\u751f\u6210\u4efb\u52a1\u3002",
        "operationId": "createNormalPicture",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalPictureRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "a beautiful flower",
                    "images": [
                      "(binary)",
                      "(binary)",
                      "(binary)"
                    ],
                    "jobNum": 2,
                    "modelKey": "image-2",
                    "aspectRatio": "4:3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5df2\u63a5\u53d7\u56fe\u7247\u751f\u6210\u4efb\u52a1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "success": true,
                      "data": {
                        "pointsDeducted": 26,
                        "queueStatus": "queued",
                        "jobNum": 2,
                        "uuids": [
                          "834d7e8c-bd70-48d8-9830-ca1ad9886e33",
                          "774bd78d-d14f-4531-8972-321086c92edu"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/media-generation/generate-picture",
          "metadata": {
            "title": "\u751f\u6210\u56fe\u7247",
            "sidebarTitle": "\u751f\u6210\u56fe\u7247",
            "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210\u56fe\u7247\uff0c\u5e76\u53ef\u9009\u4e0a\u4f20\u53c2\u8003\u56fe\u3002\u5355\u6b21\u8bf7\u6c42\u6700\u591a\u53ef\u4e0a\u4f20 6 \u5f20\u53c2\u8003\u56fe\uff0c\u5e76\u63d0\u4ea4 1 \u5230 4 \u4e2a\u751f\u6210\u4efb\u52a1\u3002"
          }
        }
      }
    },
    "/api/createNormalVideo": {
      "post": {
        "tags": [
          "media-generation"
        ],
        "summary": "\u751f\u6210\u89c6\u9891",
        "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210\u89c6\u9891\uff0c\u5e76\u53ef\u9009\u4e0a\u4f20\u53c2\u8003\u56fe\u3002\u5355\u6b21\u8bf7\u6c42\u53ef\u4e0a\u4f20 0 \u5230 6 \u5f20\u53c2\u8003\u56fe\uff0c\u5e76\u63d0\u4ea4 1 \u5230 4 \u4e2a\u751f\u6210\u4efb\u52a1\u3002",
        "operationId": "createNormalVideo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateNormalVideoRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "a flower bouquet",
                    "images": [
                      "(binary)"
                    ],
                    "duration": 14,
                    "aspectRatio": "9:16",
                    "resolution": "480p",
                    "jobNum": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5df2\u63a5\u53d7\u89c6\u9891\u751f\u6210\u4efb\u52a1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "success": true,
                      "data": {
                        "pointsDeducted": 1344,
                        "queueStatus": "queued",
                        "jobNum": 3,
                        "uuids": [
                          "18c8eb80-e1b0-43d4-878e-7fdd31a7e525",
                          "76f14626-e2ef-466c-a720-473dc64ebf43",
                          "acb40a9d-082b-4842-bd92-1955b7eb1a13"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/media-generation/generate-video",
          "metadata": {
            "title": "\u751f\u6210\u89c6\u9891",
            "sidebarTitle": "\u751f\u6210\u89c6\u9891",
            "description": "\u901a\u8fc7\u6587\u672c\u63d0\u793a\u8bcd\u751f\u6210\u89c6\u9891\uff0c\u5e76\u53ef\u9009\u4e0a\u4f20\u53c2\u8003\u56fe\u3002\u5355\u6b21\u8bf7\u6c42\u53ef\u4e0a\u4f20 0 \u5230 6 \u5f20\u53c2\u8003\u56fe\uff0c\u5e76\u63d0\u4ea4 1 \u5230 4 \u4e2a\u751f\u6210\u4efb\u52a1\u3002"
          }
        }
      }
    },
    "/api/queryGenerationResult": {
      "post": {
        "tags": [
          "media-generation"
        ],
        "summary": "\u67e5\u8be2\u751f\u6210\u7ed3\u679c",
        "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u751f\u6210\u7ed3\u679c\u3002\u8be5\u64cd\u4f5c\u4ec5\u7528\u4e8e\u67e5\u8be2\uff0c\u4e0d\u6d88\u8017\u70b9\u6570\u3002",
        "operationId": "queryGenerationResult",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UuidRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "uuid": "16be86d7-210a-4d22-a00b-62935c1900d2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u751f\u6210\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryGenerationResultResponse"
                },
                "examples": {
                  "completedVideo": {
                    "value": {
                      "success": true,
                      "data": {
                        "uuid": "4d0f8188-3fdd-4596-9d31-ceb6eab831655",
                        "status": "completed",
                        "resultType": "video",
                        "resultUrl": "https://example.mp4"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/media-generation/retrieve-generation-result",
          "metadata": {
            "title": "\u67e5\u8be2\u751f\u6210\u7ed3\u679c",
            "sidebarTitle": "\u67e5\u8be2\u751f\u6210\u7ed3\u679c",
            "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u751f\u6210\u7ed3\u679c\u3002\u8be5\u64cd\u4f5c\u4ec5\u7528\u4e8e\u67e5\u8be2\uff0c\u4e0d\u6d88\u8017\u70b9\u6570\u3002"
          }
        }
      }
    },
    "/api/convertToFormat": {
      "post": {
        "tags": [
          "model-management"
        ],
        "summary": "\u8f6c\u6362\u6a21\u578b\u683c\u5f0f",
        "description": "\u5c06\u5df2\u751f\u6210\u6a21\u578b\u8f6c\u6362\u4e3a\u76ee\u6807\u683c\u5f0f\uff0c\u5e76\u8fd4\u56de\u4e0b\u8f7d\u94fe\u63a5\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 10 \u70b9\u6570\u3002",
        "operationId": "convertToFormat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertToFormatRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "uuid": "2dee04d4-f6e5-4fdf-b626-0f814e24db84",
                    "modelType": "fbx",
                    "modelSize": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u683c\u5f0f\u8f6c\u6362\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertToFormatResponse"
                },
                "examples": {
                  "converting": {
                    "value": {
                      "statusType": 1,
                      "modelSize": 2,
                      "message": "The specified model format does not exist, converting now..."
                    }
                  },
                  "completed": {
                    "value": {
                      "statusType": 0,
                      "modelUrl": "https://s3.neural4d.com/fbx_54078587-7fdd-49c5-9fe6-317d22f27098.zip?sig=example",
                      "scaleNumber": 4,
                      "message": "Format conversion has been completed and is ready for download."
                    }
                  },
                  "missingUuid": {
                    "value": {
                      "statusType": -1,
                      "message": "Model not found for this UUID (0efc2b3-57e1-4813-90c6-419de96e785e). Please check if the UUID is correct."
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/model-management/convert-model-format",
          "metadata": {
            "title": "\u8f6c\u6362\u6a21\u578b\u683c\u5f0f",
            "sidebarTitle": "\u8f6c\u6362\u6a21\u578b\u683c\u5f0f",
            "description": "\u5c06\u5df2\u751f\u6210\u6a21\u578b\u8f6c\u6362\u4e3a\u76ee\u6807\u683c\u5f0f\uff0c\u5e76\u8fd4\u56de\u4e0b\u8f7d\u94fe\u63a5\u3002\u8be5\u64cd\u4f5c\u6d88\u8017 10 \u70b9\u6570\u3002"
          }
        }
      }
    },
    "/api/checkHumanImage": {
      "post": {
        "tags": [
          "account-and-validation"
        ],
        "summary": "\u68c0\u6d4b\u4eba\u50cf\u56fe\u7247",
        "description": "\u68c0\u67e5\u4e0a\u4f20\u56fe\u7247\u4e2d\u662f\u5426\u5305\u542b\u4eba\u50cf\u3002",
        "operationId": "checkHumanImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CheckHumanImageRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "image": "(binary)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u68c0\u6d4b\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckHumanImageResponse"
                },
                "examples": {
                  "portraitDetected": {
                    "value": {
                      "statusCode": 0,
                      "result": true,
                      "message": "success"
                    }
                  },
                  "rateLimited": {
                    "value": {
                      "statusCode": -1,
                      "result": false,
                      "message": "Rate limit reached for image style detection, returning false"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/account-and-validation/detect-portrait-image",
          "metadata": {
            "title": "\u68c0\u6d4b\u4eba\u50cf\u56fe\u7247",
            "sidebarTitle": "\u68c0\u6d4b\u4eba\u50cf\u56fe\u7247",
            "description": "\u68c0\u67e5\u4e0a\u4f20\u56fe\u7247\u4e2d\u662f\u5426\u5305\u542b\u4eba\u50cf\u3002"
          }
        }
      }
    },
    "/api/queryPointsInfo": {
      "post": {
        "tags": [
          "account-and-validation"
        ],
        "summary": "\u67e5\u8be2\u5269\u4f59\u70b9\u6570",
        "description": "\u67e5\u8be2\u540e\u7eed\u64cd\u4f5c\u53ef\u7528\u7684\u5269\u4f59\u70b9\u6570\u3002",
        "operationId": "queryPointsInfo",
        "responses": {
          "200": {
            "description": "\u5269\u4f59\u70b9\u6570\u4fe1\u606f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPointsInfoResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "statusType": 0,
                      "data": {
                        "total_points": 54335,
                        "monthly_bonus_points": 0,
                        "permanent_points": 54335,
                        "year_points": 0,
                        "expiration_day": null
                      },
                      "message": "Get the points info successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/account-and-validation/query-remaining-balance",
          "metadata": {
            "title": "\u67e5\u8be2\u5269\u4f59\u70b9\u6570",
            "sidebarTitle": "\u67e5\u8be2\u5269\u4f59\u70b9\u6570",
            "description": "\u67e5\u8be2\u540e\u7eed\u64cd\u4f5c\u53ef\u7528\u7684\u5269\u4f59\u70b9\u6570\u3002"
          }
        }
      }
    },
    "/api/queryJobProgress": {
      "post": {
        "tags": [
          "model-management"
        ],
        "summary": "\u67e5\u8be2\u4efb\u52a1\u8fdb\u5ea6",
        "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u6a21\u578b\u751f\u6210\u4efb\u52a1\u7684\u5f53\u524d\u8fdb\u5ea6\u3002",
        "operationId": "queryJobProgress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UuidRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "uuid": "c7b77026-88f5-417f-a7c8-648a9448"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u4efb\u52a1\u8fdb\u5ea6\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryJobProgressResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "statusType": 0,
                      "message": "Get job progress successfully",
                      "progress": "100%"
                    }
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/zh-old-api-reference/model-management/query-job-progress",
          "metadata": {
            "title": "\u67e5\u8be2\u4efb\u52a1\u8fdb\u5ea6",
            "sidebarTitle": "\u67e5\u8be2\u4efb\u52a1\u8fdb\u5ea6",
            "description": "\u901a\u8fc7 UUID \u67e5\u8be2\u6a21\u578b\u751f\u6210\u4efb\u52a1\u7684\u5f53\u524d\u8fdb\u5ea6\u3002"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "\u4f7f\u7528 Neural4D \u7f51\u7ad9\u63d0\u4f9b\u7684 Bearer token\u3002",
        "x-default": "YOUR_TOKEN"
      }
    },
    "schemas": {
      "UuidRequest": {
        "type": "object",
        "required": [
          "uuid"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "description": "\u7531\u521b\u5efa\u63a5\u53e3\u8fd4\u56de\u7684\u4efb\u52a1\u6216\u6a21\u578b\u552f\u4e00\u6807\u8bc6\u3002",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          }
        }
      },
      "GenerateModelWithTextRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "\u7528\u4e8e\u751f\u6210 3D \u6a21\u578b\u7684\u6587\u672c\u63d0\u793a\u8bcd\u3002",
            "example": "people"
          },
          "modelCount": {
            "type": "integer",
            "minimum": 1,
            "default": 4,
            "description": "\u751f\u6210\u6a21\u578b\u7684\u6570\u91cf\u3002"
          },
          "disablePbr": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0,
            "description": "PBR \u5f00\u5173\u3002\u4f7f\u7528 `0` \u5f00\u542f PBR\uff0c\u4f7f\u7528 `1` \u5173\u95ed PBR\u3002"
          }
        }
      },
      "GenerateModelWithTextResponse": {
        "type": "object",
        "required": [
          "type",
          "message",
          "uuids"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "\u54cd\u5e94\u6765\u6e90\u6216\u7c7b\u578b\u6807\u8bb0\u3002",
            "example": "sys"
          },
          "message": {
            "type": "string",
            "description": "\u751f\u6210\u72b6\u6001\u6d88\u606f\u3002",
            "example": "Generating"
          },
          "uuids": {
            "type": "array",
            "description": "\u53ef\u5728\u540e\u7eed\u67e5\u8be2\u6a21\u578b\u65f6\u4f7f\u7528\u7684 UUID \u5217\u8868\u3002",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RetrieveModelResponse": {
        "type": "object",
        "required": [
          "codeStatus",
          "message"
        ],
        "properties": {
          "codeStatus": {
            "type": "integer",
            "enum": [
              -3,
              -2,
              -1,
              0,
              1
            ],
            "description": "\u7ed3\u679c\u72b6\u6001\u3002`0` \u8868\u793a\u5df2\u5b8c\u6210\uff0c`1` \u8868\u793a\u751f\u6210\u4e2d\uff0c`-1` \u8868\u793a token \u65e0\u6548\u6216\u5df2\u8fc7\u671f\uff0c`-2` \u8868\u793a UUID \u4e0d\u5b58\u5728\uff0c`-3` \u8868\u793a\u751f\u6210\u5931\u8d25\u3002"
          },
          "message": {
            "type": "string",
            "description": "\u67e5\u8be2\u72b6\u6001\u6d88\u606f\u3002"
          },
          "modelUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "\u751f\u6210\u5b8c\u6210\u540e\u53ef\u7528\u7684\u6a21\u578b\u4e0b\u8f7d\u94fe\u63a5\u3002"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "\u751f\u6210\u5b8c\u6210\u540e\u53ef\u7528\u7684\u6a21\u578b\u9884\u89c8\u56fe\u94fe\u63a5\u3002"
          },
          "prompts": {
            "type": "string",
            "nullable": true,
            "description": "\u4e0e\u8be5\u6a21\u578b\u5173\u8054\u7684\u63d0\u793a\u8bcd\u5185\u5bb9\u3002"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "\u6a21\u578b\u521b\u5efa\u65f6\u95f4\u3002"
          },
          "sourcePage": {
            "type": "string",
            "nullable": true,
            "description": "\u65e7\u7248\u670d\u52a1\u8fd4\u56de\u7684\u6765\u6e90\u9875\u9762\u6807\u8bb0\u3002"
          }
        }
      },
      "GenerateModelWithImageRequest": {
        "type": "object",
        "required": [
          "image"
        ],
        "properties": {
          "modelCount": {
            "type": "integer",
            "minimum": 1,
            "default": 4,
            "description": "\u751f\u6210\u6a21\u578b\u7684\u6570\u91cf\u3002"
          },
          "disablePbr": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0,
            "description": "PBR \u5f00\u5173\u3002\u4f7f\u7528 `0` \u5f00\u542f PBR\uff0c\u4f7f\u7528 `1` \u5173\u95ed PBR\u3002"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "\u8f93\u5165\u56fe\u7247\u6587\u4ef6\u3002\u5efa\u8bae\u4f7f\u7528 JPG\u3001JPEG\u3001PNG \u6216 WEBP\uff0c\u4e14\u6587\u4ef6\u5c0f\u4e8e 10 MB\u3002"
          }
        }
      },
      "GenerateModelWithImageResponse": {
        "type": "object",
        "required": [
          "type",
          "message",
          "uuids",
          "uploadedImageUrl"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "\u54cd\u5e94\u6765\u6e90\u6216\u7c7b\u578b\u6807\u8bb0\u3002",
            "example": "sys"
          },
          "message": {
            "type": "string",
            "description": "\u751f\u6210\u72b6\u6001\u6d88\u606f\u3002"
          },
          "uuids": {
            "type": "array",
            "description": "\u53ef\u7528\u4e8e\u67e5\u8be2\u751f\u6210\u6a21\u578b\u7684 UUID \u5217\u8868\u3002",
            "items": {
              "type": "string"
            }
          },
          "uploadedImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "\u4e0a\u4f20\u6e90\u56fe\u7684\u7b7e\u540d\u4e0b\u8f7d\u94fe\u63a5\u3002"
          }
        }
      },
      "CreateCuteModelsFromImagesRequest": {
        "type": "object",
        "required": [
          "images",
          "styleType"
        ],
        "properties": {
          "images": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "\u7528\u4e8e\u751f\u6210 Q \u7248\u6a21\u578b\u7684\u8f93\u5165\u56fe\u7247\u6587\u4ef6\u3002"
          },
          "styleType": {
            "type": "string",
            "description": "\u65e7\u7248 Q \u7248\u6a21\u578b\u6d41\u7a0b\u4f7f\u7528\u7684\u5df2\u914d\u7f6e\u63d0\u793a\u8bcd\u6807\u7b7e\u3002",
            "example": "Pixel-Style"
          }
        }
      },
      "CreateCuteModelsFromImagesResponse": {
        "type": "object",
        "required": [
          "success",
          "totalFiles",
          "successCount",
          "failureCount",
          "results",
          "failures",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "totalFiles": {
            "type": "integer"
          },
          "successCount": {
            "type": "integer"
          },
          "failureCount": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCuteModelResult"
            }
          },
          "failures": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateCuteModelResult": {
        "type": "object",
        "required": [
          "uuids",
          "success",
          "message"
        ],
        "properties": {
          "uuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateNormalPictureRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "\u63cf\u8ff0\u76ee\u6807\u56fe\u7247\u5185\u5bb9\u7684\u6587\u672c\u63d0\u793a\u8bcd\u3002"
          },
          "images": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "\u7528\u4e8e\u5f15\u5bfc\u751f\u6210\u7684\u53ef\u9009\u53c2\u8003\u56fe\u3002"
          },
          "modelKey": {
            "type": "string",
            "enum": [
              "image-2",
              "nano_banana_pro"
            ],
            "default": "image-2",
            "description": "\u56fe\u7247\u751f\u6210\u6a21\u578b\u6807\u8bc6\u3002"
          },
          "aspectRatio": {
            "type": "string",
            "enum": [
              "1:1",
              "16:9",
              "9:16",
              "4:3",
              "3:4"
            ],
            "default": "1:1",
            "description": "\u751f\u6210\u56fe\u7247\u7684\u76ee\u6807\u5bbd\u9ad8\u6bd4\u3002"
          },
          "jobNum": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "\u63d0\u4ea4\u7684\u751f\u6210\u4efb\u52a1\u6570\u91cf\u3002"
          }
        }
      },
      "CreateNormalVideoRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "\u63cf\u8ff0\u76ee\u6807\u89c6\u9891\u5185\u5bb9\u7684\u6587\u672c\u63d0\u793a\u8bcd\u3002"
          },
          "images": {
            "type": "array",
            "maxItems": 6,
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "\u7528\u4e8e\u5f15\u5bfc\u751f\u6210\u7684\u53ef\u9009\u53c2\u8003\u56fe\u3002"
          },
          "aspectRatio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4"
            ],
            "default": "16:9",
            "description": "\u751f\u6210\u89c6\u9891\u7684\u76ee\u6807\u5bbd\u9ad8\u6bd4\u3002"
          },
          "jobNum": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "\u63d0\u4ea4\u7684\u751f\u6210\u4efb\u52a1\u6570\u91cf\u3002"
          },
          "duration": {
            "type": "integer",
            "minimum": 4,
            "maximum": 15,
            "default": 5,
            "description": "\u76ee\u6807\u89c6\u9891\u65f6\u957f\uff0c\u5355\u4f4d\u4e3a\u79d2\u3002"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "default": "720p",
            "description": "\u76ee\u6807\u8f93\u51fa\u5206\u8fa8\u7387\u3002"
          }
        }
      },
      "QueuedGenerationResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/QueuedGenerationData"
          }
        }
      },
      "QueuedGenerationData": {
        "type": "object",
        "required": [
          "pointsDeducted",
          "queueStatus",
          "jobNum",
          "uuids"
        ],
        "properties": {
          "pointsDeducted": {
            "type": "integer",
            "description": "\u5f53\u524d\u5df2\u63a5\u53d7\u751f\u6210\u8bf7\u6c42\u6263\u9664\u7684\u70b9\u6570\u3002"
          },
          "queueStatus": {
            "type": "string",
            "description": "\u5df2\u63d0\u4ea4\u4efb\u52a1\u7684\u5f53\u524d\u6392\u961f\u72b6\u6001\u3002"
          },
          "jobNum": {
            "type": "integer",
            "description": "\u5df2\u63a5\u53d7\u7684\u751f\u6210\u4efb\u52a1\u6570\u91cf\u3002"
          },
          "uuids": {
            "type": "array",
            "description": "\u5206\u914d\u7ed9\u6bcf\u4e2a\u5df2\u63a5\u53d7\u751f\u6210\u4efb\u52a1\u7684 UUID\u3002",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QueryGenerationResultResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/QueryGenerationResultData"
          }
        }
      },
      "QueryGenerationResultData": {
        "type": "object",
        "required": [
          "uuid",
          "status",
          "resultType",
          "resultUrl"
        ],
        "properties": {
          "uuid": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "\u5f53\u524d\u751f\u6210\u72b6\u6001\uff0c\u4f8b\u5982 `completed`\u3001`queued`\u3001`processing` \u6216 `failed`\u3002"
          },
          "resultType": {
            "type": "string",
            "nullable": true,
            "description": "\u751f\u6210\u5b8c\u6210\u540e\u7684\u7ed3\u679c\u7c7b\u578b\uff0c\u901a\u5e38\u4e3a `image` \u6216 `video`\u3002"
          },
          "resultUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "\u751f\u6210\u7ed3\u679c\u53ef\u7528\u65f6\u7684\u4e0b\u8f7d\u94fe\u63a5\u3002"
          }
        }
      },
      "ConvertToFormatRequest": {
        "type": "object",
        "required": [
          "uuid"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "description": "\u9700\u8981\u8f6c\u6362\u7684\u751f\u6210\u6a21\u578b UUID\u3002"
          },
          "modelType": {
            "type": "string",
            "enum": [
              "fbx",
              "glb",
              "obj",
              "stl",
              "blend",
              "usdz"
            ],
            "default": "glb",
            "description": "\u76ee\u6807\u6a21\u578b\u683c\u5f0f\u3002"
          },
          "modelSize": {
            "type": "integer",
            "minimum": 2,
            "default": 2,
            "description": "\u76ee\u6807\u6a21\u578b\u5c3a\u5bf8\uff0c\u5355\u4f4d\u4e3a\u6beb\u7c73\u3002\u65e7\u7248\u6587\u6863\u8bf4\u660e\u8be5\u503c\u5fc5\u987b\u5927\u4e8e 1\u3002"
          }
        }
      },
      "ConvertToFormatResponse": {
        "type": "object",
        "required": [
          "statusType",
          "message"
        ],
        "properties": {
          "statusType": {
            "type": "integer",
            "enum": [
              -1,
              0,
              1
            ],
            "description": "\u8f6c\u6362\u72b6\u6001\u3002`0` \u8868\u793a\u5df2\u5b8c\u6210\uff0c`1` \u8868\u793a\u4ecd\u5728\u8f6c\u6362\u4e2d\uff0c`-1` \u8868\u793a\u8bf7\u6c42\u65e0\u6548\u6216\u8f6c\u6362\u5931\u8d25\u3002"
          },
          "modelUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "\u8f6c\u6362\u5b8c\u6210\u540e\u53ef\u7528\u7684\u6a21\u578b\u4e0b\u8f7d\u94fe\u63a5\u3002"
          },
          "scaleNumber": {
            "type": "integer",
            "nullable": true,
            "description": "\u8f6c\u6362\u5b8c\u6210\u540e\u8fd4\u56de\u7684\u7f29\u653e\u6570\u503c\u3002"
          },
          "modelSize": {
            "type": "integer",
            "nullable": true,
            "description": "\u8bf7\u6c42\u6216\u4e2d\u95f4\u54cd\u5e94\u4e2d\u56de\u663e\u7684\u6a21\u578b\u5c3a\u5bf8\u3002"
          },
          "message": {
            "type": "string",
            "description": "\u8f6c\u6362\u72b6\u6001\u6d88\u606f\u3002"
          }
        }
      },
      "CheckHumanImageRequest": {
        "type": "object",
        "required": [
          "image"
        ],
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "\u7528\u4e8e\u68c0\u6d4b\u7684\u4eba\u50cf\u56fe\u7247\u3002\u652f\u6301 JPG\u3001JPEG \u548c PNG\u3002"
          }
        }
      },
      "CheckHumanImageResponse": {
        "type": "object",
        "required": [
          "statusCode",
          "result",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "enum": [
              -1,
              0
            ],
            "description": "\u68c0\u6d4b\u72b6\u6001\u3002`0` \u8868\u793a\u7ed3\u679c\u6709\u6548\uff0c`-1` \u8868\u793a\u7ed3\u679c\u65e0\u6548\u3002"
          },
          "result": {
            "type": "boolean",
            "description": "\u4e0a\u4f20\u56fe\u7247\u4e2d\u662f\u5426\u68c0\u6d4b\u5230\u4eba\u50cf\u3002"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "QueryPointsInfoResponse": {
        "type": "object",
        "required": [
          "statusType",
          "data",
          "message"
        ],
        "properties": {
          "statusType": {
            "type": "integer",
            "enum": [
              -1,
              0
            ],
            "description": "\u67e5\u8be2\u72b6\u6001\u3002`0` \u8868\u793a\u7ed3\u679c\u6709\u6548\uff0c`-1` \u8868\u793a\u7ed3\u679c\u65e0\u6548\u3002"
          },
          "data": {
            "$ref": "#/components/schemas/BalanceInfo"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BalanceInfo": {
        "type": "object",
        "required": [
          "total_points",
          "monthly_bonus_points",
          "permanent_points",
          "year_points",
          "expiration_day"
        ],
        "properties": {
          "total_points": {
            "type": "integer"
          },
          "monthly_bonus_points": {
            "type": "integer"
          },
          "permanent_points": {
            "type": "integer"
          },
          "year_points": {
            "type": "integer"
          },
          "expiration_day": {
            "type": "string",
            "nullable": true,
            "description": "\u9650\u65f6\u70b9\u6570\u7684\u5230\u671f\u65e5\uff0c\u5b58\u5728\u65f6\u8fd4\u56de\u3002"
          }
        }
      },
      "QueryJobProgressResponse": {
        "type": "object",
        "required": [
          "statusType",
          "message"
        ],
        "properties": {
          "statusType": {
            "type": "integer",
            "enum": [
              -2,
              -1,
              0
            ],
            "description": "\u8fdb\u5ea6\u67e5\u8be2\u72b6\u6001\u3002`0` \u8868\u793a\u6709\u6548\uff0c`-1` \u8868\u793a\u4efb\u52a1\u4e0d\u5b58\u5728\uff0c`-2` \u8868\u793a\u67e5\u8be2\u65e0\u6548\u3002"
          },
          "message": {
            "type": "string"
          },
          "progress": {
            "type": "string",
            "nullable": true,
            "description": "\u65e7\u7248\u670d\u52a1\u8fd4\u56de\u7684\u5f53\u524d\u4efb\u52a1\u8fdb\u5ea6\u767e\u5206\u6bd4\u3002"
          }
        }
      }
    }
  }
}
